<link rel="stylesheet" href="components/about/about.css"/>
<div class="jumbotron header">
    <div class="container">
        <div class="page-header">
            <h1>About</h1>
        </div>
            <!-- start about text -->
            <p class="lead description">OpenHealth is a Personal Health Record System (PHR) and a range of supporting tools and utilities. A PHR is a tool that you can use to collect, track and share past and current information about your health or the health of someone in your care. Sometimes this information can save you the money and inconvenience of repeating routine medical tests. Even when routine procedures do need to be repeated, your PHR can give medical care providers more insight into your personal health and disease history.</p>
    </div>
</div>
<div class="jumbotron about">
    <div class="container">
        <div class="disclaimer">
            <h2>Disclaimer</h2>
            <p>Remember, you are ultimately responsible for making decisions about your health.<br> A PHR can help you accomplish that.
                Important points to know about a Personal Health Record:</p>
        </div>
        <ul>
            <li><p>You should always have access to your complete health information.</p></li>
            <li><p>Information in your PHR should be accurate, reliable, and complete.</p></li>
            <li><p>You should have control over how your health information is accessed, used, and disclosed.</p></li>
            <li><p>A PHR may be separate from and does not normally replace the legal medical record of any provider.</p></li>
            <li><p>You should be aware that other products might not keep your data confidential, but could choose to share the information with other providers and customers.</p></li>
            <li><p>You should never use your Social Security or other credentials that may uniquely identify you across systems.</p></li>
            <li><p>Consider whether there is a strategy to remove your data and profile, once your PHR is no longer needed, or whether you can backup your profile to local storage, e.g. on your own computer.</p></li>
            <li><p>Finally, consider how your health data is created. In OpenHealth PHR, you may use standard medico equipment to automatically upload data to your account.</p></li>
        </ul>
    </div>
</div>
