.jumbotron{
    text-align: center;
}

.about{
    text-align: left;
    background: transparent;
}

.disclaimer{
    text-align: center;
}

.header{
    background: white;
    margin-bottom: 0px;
}

.content{
    background: white;
    margin-top: 0px;
    padding-top: 0px;
}

.logo-header{
    margin-left: auto;
    margin-right: auto;
    width: 80% ;
    height: auto ;
}