<div class="container">
	<form name="signUpForm" class="form-horizontal" ng-submit="submitSignup(signup)">
		<script type="text/ng-template" id="successModal.html">
			<div class="modal-header">
					<h3 class="modal-title">Congratulations</h3>
			</div>
			<div class="modal-body">
					<p>You've successfully been registered with <em>OpenHealth Platform</em>.</p>
					<p>We'll redirect you to login shortly...</p>
			</div>
		</script>
		
		<h1>Sign up</h1>
		<h4>- and unlock the full potential of <b>OpenHealth</b></h4>
		<!-- Input Name -->
		<fieldset class="form-group">
			<label for="inputName" class="col-sm-2 control-label">First Name</label>
			<div class="col-sm-10">
				<input class="form-control" id="inputName" ng-model="signup.givenName" placeholder="First Name" required="true">
			</div>
		</fieldset>
		<!-- Input SurName -->
		<fieldset class="form-group">
			<label for="inputSurName" class="col-sm-2 control-label">Sur Name</label>
			<div class="col-sm-10">
				<input class="form-control" id="inputSurName" ng-model="signup.surName" placeholder="Sur Name" required="true">
			</div>
		</fieldset>
		<!-- Input Gender and birthday-->
		<fieldset class="form-group">
			<label for="inputGender" class="col-sm-2 control-label">Gender</label>
			<div class="col-sm-4">
				<select class="form-control" id="inputGender" ng-model="signup.gender" ng-options="gender for gender in genders"  title="Gender" required="true">
					<option value="" disabled selected>Select your gender</option>
				</select>
			</div>
			<label for="inputBirthday" class="col-sm-2 control-label">Birthday</label>
			<div class="col-sm-4">
				<input class="form-control" type="date" id="inputBirthday" ng-model="signup.birthday" placeholder="Date" required="true">
			</div>
		</fieldset>
		<!-- Input Email -->
		<fieldset class="form-group">
			<label for="inputEmail" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input class="form-control" id="inputEmail" type="email" ng-model="signup.email" placeholder="Email" required="true">
			</div>
		</fieldset>
		<!-- Input Password -->
		<fieldset class="form-group">
			<label for="inputPassword" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input class="form-control" id="inputPassword" type="password" ng-model="signup.password" placeholder="Password" required="true">
				<br>
				<input class="form-control" id="inputPassword" type="password" ng-model="repeatPassword" placeholder="Repeat Password" required="true">
			</div>
		</fieldset>
		<!-- Input profile type -->
		<fieldset class="form-group">
			<label for="inputProfiletype" class="col-sm-2 control-label">Profile type</label>
			<div class="col-sm-10" class="btn-group">
				<div class="col-sm-1"></div>
				<label  id="inputProfiletype" class="btn btn-info col-sm-4 margin" ng-model="selectedProfile" btn-radio="'Patient'" uncheckable >Patient</label>
				<div class="col-sm-1"></div>
				<label  id="inputProfiletype" class="btn btn-info col-sm-4 margin" ng-model="selectedProfile" btn-radio="'HealthcareProfessional'" uncheckable>Healthcare Professional</label>
			</div>
		</fieldset>
		<!--Submit sign up-->
		<fieldset class="form-group">
			<input type="submit" class="btn btn-primary pull-center btn-success btn-lg" value="Accept and sign up"/>
		</fieldset>
		<p><em>Profile picture will be retrieved from Gravatar. If you don't already have an account, please <a href="https://gravatar.com/site/signup/">Sign Up</a>.</em></p>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</form>
</div>