<link rel="stylesheet" href="components/patient/patient.css"/>
<div class="container">
    <br>
    <div>
        <div class="searchWidth left">
            <div class="icon-addon">
                <input type="text" class="form-control" placeholder="Search.." data-ng-model="searchPhrase.$" id="searchBy"/>
                <label for="searchBy" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
            </div>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-success pull-right" ng-click="openTrackPatients()">
            <span class="glyphicon glyphicon-eye-open"></span>&nbsp; Track Patient</button>
        </div>
    </div>
    <br>
    <table class="table table-hover table-bordered table-striped centered">
        <thead>
            <tr>
                <th width="40px"></th>
                <th>First name
                    <button type="button" class="btn btn-xs pull-right" ng-click="setSelectedOrder('GivenName')">
                    <span class="glyphicon glyphicon-sort"></span>
                    </button>
                </th>
                <th>Sur name
                    <button type="button" class="btn btn-xs pull-right" ng-click="setSelectedOrder('Surname')">
                    <span class="glyphicon glyphicon-sort"></span>
                    </button>
                </th>
                <th>Date of birth
                    <button type="button" class="btn btn-xs pull-right" ng-click="setSelectedOrder('Birthday')">
                    <span class="glyphicon glyphicon-sort"></span>
                    </button>
                </th>
                <th>Email
                    <button type="button" class="btn btn-xs pull-right" ng-click="setSelectedOrder('Email')">
                    <span class="glyphicon glyphicon-sort"></span>
                    </button>
                </th>
                <th width="40px"></th>
                <th width="40px"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="patient in trackedPatients  | filter:searchPhrase:strict | orderBy:propertyOrder" >
                <td><div><img class="img-circle profile-img" gravatar-src-once="patient.Email" gravatar-size="30"></div></td>
                <td><div>{{patient.GivenName}}</div></td>
                <td><div>{{patient.Surname}}</div></td>
                <td><div>{{patient.Birthday | date:'fullDate'}}</div></td>
                <td><div>{{patient.Email}}</div></td>
                <td><button type="button" class="btn btn-sm btn-info" ng-click="loadTrackedPatientMeasurements(patient)">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </button></td>
                <td><button type="button" class="btn btn-sm btn-danger" ng-click="removeTrackedPatient(patient)">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </button></td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12" ng-show="!trackedPatients.length">
        <div class="col-md-12" align="center">
            <span class="glyphicon glyphicon-exclamation-sign glyphicon-lg"></span>
        </div>
        <div class="col-md-12" align="center">
            <em>No tracked patients found...</em>
        </div>
    </div>
</div>