.searchWidth{
    width: 250px;
}

.left {
    float: left;
    width: 250px;
    text-align: right;
    display: inline;
    padding-bottom:  10px;
}

.right {
    float: right;
    text-align: left;
    display: inline;
    padding-bottom: 10px;
}