<div>
    <form name="trackPatientForm" class="form-horizontal">
        <div class="modal-header">
            <h3 class="modal-title">Track patient</h3>
        </div>
        <div class="modal-body">
            <p><em>To track patient enter the registration email and pass phrase; agreed upon on the initial meeting with the patient</em></p>
            <br>
            <fieldset class="form-group">
                <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-7">
                    <input type="email" id="inputEmail" class="form-control" data-ng-model="patient.Email" required autofocus></input>
                </div>
                <label for="inputPassphrase" class="col-sm-3 control-label">Passphrase</label>
                <div class="col-sm-7">
                    <input type="password" id="inputPassphrase" class="form-control" data-ng-model="patient.PassPhrase" required></input>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Track</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>

    </form>
</div>
