<div >
	<form name="newMeasurementForm" class="form-horizontal" ng-submit="ok()">
		<div class="modal-header">
			<h3 class="modal-title">New Measurement</h3>
		</div>
		<div class="modal-body" ng-model="newMeasurement">
			<fieldset class="form-group">
				<label for="inputMeasurementType" class="col-sm-3 control-label">Type</label>
				<div class="col-sm-7">
					<select class="form-control" id="inputMeasurementType" ng-model="newMeasurement" ng-options="type.Type for type in measurementTypes" title="Type" required="true" >
						<option value="" disabled selected>Select measurement type</option>
					</select>
				</div>
			</fieldset>
			<fieldset class="form-group" >
				<label class="col-sm-3 control-label" for="inputDateTime" style="padding-top: 38px;">Date and time</label>
				<div class="col-sm-4">
					<p class="input-group" style="padding-top: 34px;" >
					<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="newMeasurement['Date']" is-open="opened" ng-required="true" close-text="Close" init-date="newMeasurement['Date']" id="inputDateTime" />
					<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
					</p>
				</div>
				<div class="col-sm-3">
					<timepicker ng-model="newMeasurement['Date']" id="inputDateTime" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
				</div>
			</fieldset>
			<fieldset ng-repeat="(key, value) in newMeasurement" ng-hide="key == 'Type' || key == 'Id' || key == 'Date'" class="form-group">
				<label class="col-sm-3 control-label" for="inputValue">
					{{key}}
				</label>
				<div class="col-sm-7">
					<input class="form-control" id="inputValue" ng-model="newMeasurement[key]" type="number" step="any"/>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<input type="submit" class="btn btn-success pull-center" value="Save"/>
			<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
		</div>
		
	</form>
</div>