<div >
    <form name="modifyMeasurementForm" class="form-horizontal" ng-submit="ok()">
        <div class="modal-header">
            <h3 class="modal-title">Modify Measurement</h3>
        </div>
        <div class="modal-body" ng-model="measurement">
             <!-- Input Type -->
            <fieldset class="form-group">
                <label class="col-sm-3 control-label" for="inputType">Type</label>
                <div class="col-sm-7">
                    <input class="form-control" id="inputType" ng-model="measurementType" type="text" disabled="true" />
                </div>
            </fieldset>
            <!-- Input date and time -->
            <fieldset class="form-group" >
                <label class="col-sm-3 control-label" for="inputDateTime" style="padding-top: 38px;">Date and time</label>
                <div class="col-sm-4">
                    <p class="input-group" style="padding-top: 34px;" >
                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="measurement['Date']" is-open="opened" ng-required="true" close-text="Close" init-date"measurement['Date']" id="inputDateTime" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                </div>
                <div class="col-sm-3">
                    <timepicker ng-model="measurement['Date']" id="inputDateTime" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                </div>
            </fieldset>
            <!-- Repeat value properties -->
            <fieldset ng-repeat="(key, value) in measurement" ng-hide="key == 'Type' || key == 'Id' || key == 'Date' || key == 'setData'|| key == 'PatientId'" class="form-group">
                <label class="col-sm-3 control-label" for="inputValue">
                    {{key}}
                </label>
                <div class="col-sm-7">
                    <input class="form-control" id="inputValue" ng-model="measurement[key]" type="number" step="any"/>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-success pull-center" value="Save"/>
            <button class="btn btn-danger" ng-click="cancel()">Discard</button>
        </div>
    </form>
</div>