<div >
	<div class="modal-header">
		 <h3 class="modal-title">Are you sure?</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete this measurement? 
		You can't revert your changes.
	</div>
	<div class="modal-footer">
		<button class="btn btn-success pull-center" ng-click="ok()">Ok</button>
		<button class="btn btn-danger pull-center" ng-click="cancel()">Cancel</button>
	</div>
</div>