<link rel="stylesheet" href="components/measurement/measurement.css"/>
<div class="container">
    <div class="jumbotron first" data-ng-show="authentication.isAuth && user.role == 'healthcareprofessional'">
        <div class="container">
            <div class="row" align="center">
                <div class="col-md-12 page-header"><h2>Patient profile</h2></div>
                <div class="col-md-2"></div>
                <div class="col-md-3" align="center">
                    <img class="img-circle profile-img" gravatar-src-once="patientViewing.Email" gravatar-size="200">
                </div>
                <div class="col-md-5">
                    <table class="table table-profile-info">
                        <tbody>
                        <tr>
                            <td><strong>Email Address</strong></td>
                            <td>{{patientViewing.Email}}</td>
                        </tr>
                        <tr>
                            <td><strong>First Name</strong></td>
                            <td>{{patientViewing.GivenName}}</td>
                        </tr>
                        <tr>
                            <td><strong>Surname</strong></td>
                            <td>{{patientViewing.Surname}}</td>
                        </tr>
                        <tr>
                            <td><strong>Gender</strong></td>
                            <td>{{patientViewing.Gender}}</td>
                        </tr>
                        <tr>
                            <td><strong>Birthday</strong></td>
                            <td>{{patientViewing.Birthday | date:'fullDate'}}</td>
                        </tr>
                        <tr>
                            <td><strong>Profile Type</strong></td>
                            <td>{{patientViewing.Roles[0]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <br>
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills">
                <li ng-class="{ active:isSet(measurementType) }" ng-repeat="measurementType in measurementTypes track by $index"><a href="" ng-click="setTab(measurementType)">{{measurementType.Type}}</a></li>
            </ul>
        </div>
    </nav>
    <button class="btn btn-primary btn-success" ng-class="{ active:!isChartCollapsed}" ng-click="toggleCollapse()"> <span class="glyphicon glyphicon-stats"></span>&nbsp; Graph</button>
    <button class="btn btn-primary btn-success pull-right" ng-click="newMeasurement()"><span class="glyphicon glyphicon-plus"></span>&nbsp; New Measurement </button>
    <hr>
    <div collapse="isChartCollapsed" ng-show="measurements.length">
        <div google-chart class =" well well-lg" chart="chartObject" style="height: 600px; width: 100%; position: relative;"></div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped centered">
            <thead>
                <tr>
                    <th width="160px">Date</th>
                    <th ng-repeat="(key, value) in selectedMeasurementType" ng-hide="key === 'Type' || key == 'Date' || key == 'Id'">{{key}}</th>
                    <th width="40px"></th>
                    <th width="40px"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="measurement in measurements | orderBy:'Date':true" ng-click="setSelectedMeasurement()"
                    ng-class="{ 'success': measurement == selectedMeasurement }">
                    <td><div>{{measurement.Date | date:'short'}}</div></td>
                    <td ng-repeat="(key, value) in measurement" ng-hide="key == 'Date' || key == 'Id' || key== 'PatientId' || key == 'Unit' || key== 'CreatedBy' ">{{value}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info" ng-click="modifyMeasurement(measurement, selectedMeasurementType.Type)">
                        <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="deleteMeasurement(measurement, selectedMeasurementType.Type)">
                        <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12" ng-show="!measurements.length">
            <div class="col-md-12" align="center">
                <span class="glyphicon glyphicon-exclamation-sign glyphicon-lg"></span>
            </div>
            <div class="col-md-12" align="center">
                <em>No measurements found...</em>
            </div>
        </div>
    </div>
</div>