/* app css stylesheet */



/* Body */
html,
body {
  background-color: rgb(238, 238, 238);
  margin:0;
  padding:0;
  height:100%;
}

/*body {
  background-color: rgb(238, 238, 238);
  padding-top: 30px;
  line-height: 20px;
  margin-top: 20px;
  height: 100%;
}*/

/* Wrapper */
#wrapper{
  min-height: 100%;
  position: relative;
}

/* Content */
#content {
  padding-top: 50px;
  padding-bottom: 60px;
}

/* Footer */
#footer {
  background-color: rgb(238, 238, 238);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

#footer p {
  margin: 20px;
}

.sm-profile-img:hover {
  margin-top:7px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
} 

.sm-profile-img {
  margin-top:8px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
} 

.navbar-nav>li>a.profile-img-link {
  margin: 0px;
  padding: 0px;
}

/* Navbar */
.navbar-inverse {
  background-color: #428BCA;
  border-color: #428BCA;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

/* Navbar Menu Points */
.navbar-inverse .navbar-nav>li>a {
  color: #ffffff
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #4DFF99;
}

.navbar-inverse .navbar-nav>li>a::selection {
  color: #4DFF99;
  font-weight: bold;
}

/* Forms */
.form-horizontal {  
  padding: 15px;
  margin: 0 auto;
  text-align:center;
  font-size: 16px;
}

/* Glyphicons */
span.glyphicon-lg {
  font-size: 2.0em;
}

.glyphicon:before {
  visibility: visible;
}
.glyphicon.glyphicon-eye-open:checked:before {
  content: "\e106";
}
input[type=checkbox].glyphicon{
  visibility: hidden;
}

/* Centered table content */
.centered>tbody>tr>td {
  vertical-align:  middle;
}

/* Used for search bar */

.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}

.icon-addon:after {
  clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px
}

.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
  font-size: 18px;
  margin-left: 0;
  left: 11px;
  top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
  color: #2580db;
}

/* Used to size logo properly */

.navbar-brand{
  margin-top: -10px;
}

.logo{
  width: 55px;
  height: auto ;
}
