<!DOCTYPE html>
<html lang="en" ng-app="openHealthApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OpenHealth</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css"/>
  </head>
  <body>
    <div id="wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="IndexCtrl">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo" src="logo-lg.png"/></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li data-ng-hide="authentication.isAuth"><a href="#/signin">Sign In</a></li>
              <li data-ng-hide="authentication.isAuth"><a href="#/signup">Sign Up</a></li>
              <li data-ng-hide="!authentication.isAuth"><a href="#/profile" class="profile-img-link"><img class="img-circle sm-profile-img" gravatar-src="user.userName" gravatar-size="35" border="0"></a></li>
              <li data-ng-hide="!authentication.isAuth"><a href="#/profile">Profile</a></li>
              <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="signOut()">Sign Out</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
              <li><a href="#/home">Home</a></li>
              <li><a href="#/about">About</a></li>
              <li data-ng-show="authentication.isAuth && user.role == 'patient'"><a href="#/measurements">Measurements</a></li>
              <li data-ng-show="authentication.isAuth && user.role == 'patient'"><a href="#/logs">Log</a></li>
              <li data-ng-show="authentication.isAuth && user.role == 'healthcareprofessional'"><a href="#/patients">Patients</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div ng-view id="content">
      </div>
      <div id="footer">
        <p class="text-muted">Version 2.0.0 - Developed by CareBears for Aarhus University AAL</p>
      </div>
    </div> 
  <!-- 3rd party libraries -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
  <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
  <script src="bower_components/angular-gravatar/build/angular-gravatar.min.js"></script>
  <script src="bower_components/angular-gravatar/build/md5.min.js"></script>
  <!-- Main script -->
  <script src="app.js"></script>
  <!-- Components -->
  <script src="components/configuration/configuration-service.js"></script>
  <script src="components/authentication/authentication-service.js"></script>
  <script src="components/user-signup/user-signup.js"></script>
  <script src="components/user-signin/user-signin.js"></script>
  <script src="components/measurement/measurement.js"></script>
  <script src="components/patient/patient.js"></script>
  <script src="components/profile/profile.js"></script>
  <script src="components/log/log.js"></script>
  <script src="components/home/home.js"></script>
  <script src="components/about/about.js"></script>
</body>
</html>