<div class="container">
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th ng-repeat="(key, value) in logItem">{{value}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="log in logs">
            <td><div>{{log.MeasurementType}}</div></td>
            <td><div>{{log.Action}}</div></td>
            <td><div>{{log.UserModifyedBy}}</div></td>
            <td><div>{{log.Date | date:'yyyy-MM-dd HH:mm:ss'}}</div></td>
        </tr>
        </tbody>
    </table>
</div>