
.jumbotron{
  text-align: center;
}

.header{
  background: white;
}

.content{
  background: transparent;
  margin-top: 0px;
  padding-top: 0px;
}

.logo-header{
  margin-left: auto;
  margin-right: auto;
  width: 80% ;
  height: auto ;
}