<link rel="stylesheet" type="text/css" href="components/home/home.css"/>
<div class="jumbotron header">
	<div class="container">
		<div class="page-header">
			<img class="logo-header" src="logo-with-text-lg.png">
		</div>
		<!-- start slipsum code -->
		<p class="lead description">OpenHealth Personal Health Record System – OpenHealth PHR for short – is an open source personal health record system that allows you – as a patient - to sign up, register, view data, and share health data with your health care provider, while keeping full control of your data.
			You will not be sharing your personal data with Apple, Microsoft or Google, and at any time, you may check the system log to see who of your attached healthcare providers have accessed your data, and what data they looked at or modified. At any time you can invite a healthcare professional to join and get access to your data. When the access is no longer needed, you may easily detach the healthcare professional.
			In the future, OpenHealth PHR will support the possibility to directly upload data from blood pressure devices, weight scales, oximeters, activity monitors, and other relevant healthcare equipment.</p>
	</div>
</div>
<div class="jumbotron content">
	<div class="container"  data-ng-hide="authentication.isAuth">
		<h2>Get started</h2>
		<p class="lead description">To get started, either sign in with your account, or sign up as a new user.</p>
		<p>
		<a class="btn btn-primary btn-lg" href="#/signin">Sign In</a>
		<a class="btn btn-primary btn-lg" href="#/signup">Sign Up</a>
		</p>
	</div>
	<div class="jumbotron content"  data-ng-show="authentication.isAuth && user.role == 'patient'">
		<h2>Logged in as <em>{{user.givenName}} {{user.surName}}</em></h2>
		<p class="lead description">To get started, go to the measurements page, and manage your health care data.</p>
		<p>
		<a class="btn btn-primary btn-lg" href="#/measurements">Measurements</a>
		</p>
	</div>
	<div class="jumbotron content"  data-ng-show="authentication.isAuth && user.role == 'healthcareprofessional'">
		<h2>Logged in as <em>{{user.givenName}} {{user.surName}}</em></h2>
		<p class="lead description">To get started, go to the patients page, and manage your tracked patients.</p>
		<p>
		<a class="btn btn-primary btn-lg" href="#/patients">Patients</a>
		</p>
	</div>
</div>