<form class="form-signin form-horizontal " role="form" ng-submit="signin()">
	<link rel="stylesheet" type="text/css" href="components/user-signin/user-signin.css">
	<h2 class="form-signin-heading">Please sign in</h2>
	<input type="email" class="form-control" placeholder="Email address" data-ng-model="signinData.userName" required autofocus>
	<input type="password" class="form-control" placeholder="Password" data-ng-model="signinData.password" required>
	<br>
	<button class="btn btn-lg btn-primary btn-success btn-block" type="submit">Sign in</button>
	<div data-ng-hide="message == ''" class="alert alert-danger">
		{{message}}
	</div>
</form>