.form-signin {
  max-width: 330px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
}
.form-signin .form-control:focus {
  z-index: 2;
}