<div >
	<form name="editProfileForm" class="form-horizontal" ng-submit="submit(profile)">
		<div class="modal-header">
			<h3 class="modal-title">Edit Profile</h3>
		</div>
		<div class="modal-body" ng-model="editedProfile">
			<fieldset class="form-group">
				<label class="col-sm-3 control-label" for="inputGivenName">First Name</label>
				<div class="col-sm-7">
					<input class="form-control" id="inputGivenName" ng-model="GivenName"/>
				</div>
			</fieldset>
		</div>
		
	</form>
</div>