<div>
<form name="passphraseForm" class="form-horizontal" ng-submit="ok(passphrase)">
		<div class="modal-header">
			<h3 class="modal-title">Edit passphrase</h3>
		</div>
		<div class="modal-body">
			<p><em>Choose a passphrase you can remember, and use it to give your associated Healthcare Professional acces to your profile and data. You won't be able to retrieve it again, so if you forget it, just create a new one.</em></p>
			<br>
			<fieldset class="form-group">
				<label for="inputPassphrase" class="col-sm-3 control-label">Passphrase</label>
				<div class="col-sm-7">
					<input type="password" id="inputPassphrase" class="form-control" ng-model="passphrase"></input>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<input type="submit" class="btn btn-success pull-center" value="Save"/>
			<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
		</div>
		
	</form>
</div>