<link rel="stylesheet" type="text/css" href="components/profile/profile.css">
<div class="jumbotron first">
	<div class="container">
		<div class="row" align="center">
			<div class="col-md-12 page-header"><h2>{{profile.GivenName}} {{profile.Surname}}</h2></div>
			<div class="col-md-2"></div>
			<div class="col-md-3" align="center">
				<img class="img-circle profile-img" gravatar-src-once="profile.Email" gravatar-size="200">
			</div>
			<div class="col-md-5">
				<table class="table table-profile-info">
					<tbody>
						<tr>
							<td><strong>Email Address</strong></td>
							<td>{{profile.Email}}</td>
						</tr>
						<tr>
							<td><strong>First Name</strong></td>
							<td>{{profile.GivenName}}</td>
						</tr>
						<tr>
							<td><strong>Surname</strong></td>
							<td>{{profile.Surname}}</td>
						</tr>
						<tr>
							<td><strong>Gender</strong></td>
							<td>{{profile.Gender}}</td>
						</tr>
						<tr>
							<td><strong>Birthday</strong></td>
							<td>{{profile.Birthday | date:'fullDate'}}</td>
						</tr>
						<tr>
							<td><strong>Profile Type</strong></td>
							<td>{{profile.Roles[0]}}</td>
						</tr>
						<tr>
							<td><!--button type="button" class="btn btn-info" ng-click="editProfile()">
								<span class="glyphicon glyphicon-pencil"></span>&nbsp; Edit profile
							</button--></td>
							<td><button type="button" class="btn btn-info" ng-click="createNewPassphrase()" ng-hide="profile.Roles[0] != 'patient'">
								<span class="glyphicon glyphicon-cog"></span>&nbsp; Create passphrase
							</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<div class="container" ng-hide="profile.Roles[0] != 'patient'">
	<div class="row" align="center">
		<h3>Tracking</h3>
		<h4>Currently tracking Healthcare Professionals</h4>
		<div class="col-md-2"></div>
		<div class="table-responsive col-md-8">
			<table class="table table-hover table-striped table-bordered centered">
				<thead>
					<tr>
						<th width="40px"></th>
						<th>Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="hcp in trackingHealthcareProfessionals">
						<td><img class="img-circle" gravatar-src="hcp.Email" gravatar-size="30" border="0"></td>
						<td>{{hcp.GivenName}} {{hcp.Surname}}</td>
						<td>{{hcp.Email}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-12" ng-show="!trackingHealthcareProfessionals.length">
            <div class="col-md-12" align="center">
                <span class="glyphicon glyphicon-exclamation-sign glyphicon-lg"></span>
            </div>
            <div class="col-md-12" align="center">
                <em>No Healthcare Professionals currently tracking...</em>
            </div>
        </div>
		<div class="col-md-2"></div>
	</div>
	
</div>