
.jumbotron{
  background: #ffffff;
}

.page-header {
	text-align: center;
}

.table-profile-info {
	max-width: 400px;
}

.table-profile-info > tbody > tr:first-child {
    border-top: 0;
}

.table-profile-info > tbody > tr > td {
    border-top: 0;
}

.table-profile-info > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.profile-img {
	margin-bottom: 20px;
	margin-top: 20px;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5);
  	-moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5);
  	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5);
}
